.cards {
    width: 350px;
    height: 400px;
    margin: 50px 65px;
    padding: 27px;
    border-radius: 36px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
    background-color:$white;
    position: relative;
}