#form {
    text-align: center;
    h4 {
        margin-top: 100px;
    }
    h5 {
        font-weight: $semi-bold;
        font-size: 2rem;
        margin-bottom: 40px;
    }
    input {
        margin-right: 27px;
        padding: 15px;
        outline: none;
        width: 430px;
        border: none;
        height: 52px;
        background-color:$darkgrey;
        &::placeholder {
            font-size: 0.75rem;
            color: $lightgrey;
        }
      }

}