@media screen and (max-width: $desktop) {
    // Header nav 

    header {
        nav {
            ul {
                width: 59%;
            }
        }   
    }

    // First Section
    .firstSection {
        section {
            justify-content: center;

            #phoneImage {
                width: 30%;
            }
        
            article {
                margin: 12% 5%;
            }
        }
    }

// Who we are section

    #whoWeAre {
        img {
            width: 50%;
            object-fit: contain;
        }

        article {
            p {
                width: 80%;
            }
        }
    }

    // Footer 

    footer {
        padding: 30vh 11vh 15vh 10vh;
    }

}


@media screen and (max-width: $tablet) {

    // Header nav
    
    header {
        nav {
            justify-content: center;
            ul {
                width: 100%;
                justify-content: center;
            }
            article {
                h1 {
                    color: $darkgrey;
                }
            }
        }
    }   

    // topSection

    .firstSection {
        section {
            justify-content: center;        
            #phoneImage {
                width: 60%;
            }
            article {
                margin: 0;
                text-align: center;
            }
            article {
                p {
                    width: auto;
                    color: $darkgrey;
                }
                h3 {
                    color: $darkgrey;
                    font-size: 2.5rem;
                    margin: 0;
                }
                h2 {
                    font-size: 1.5rem;
                    padding-top: 25px;
                    color: $darkgrey;
                }
            
            }
        }
    }

    .barSocialMedia {
        &::after {
            transform: translateX(0px)
        }
    }

    // Titles 

    h5 {
        font-size: 2.5rem;
    }

    // Who we are section

    #whoWeAre {
        img {
            width: 65%;
            object-fit: contain;
            margin: auto;
            margin-top: 45px;
        }
        article {
            width: 100%;
            text-align: center;
        }
        article p {
            width: 100%;
        }
    }

    // Cards 

    .cards {
        height: 450px;
    }

    // Form 

    #form input {
        width: 65%;
        margin-bottom: 10px;
    }

    // Footer 

    footer {
        text-align: center;
        padding: 30vh 10vh 5vh 10vh;

        section {
            width: 100%;
            margin-bottom: 25px;
            div {
                width: 40%;
                margin: auto;
            }
        }
    }
}
